<a href="https://colab.research.google.com/github/mohmaed7777/The-Ultimate-Halloween-Candy-Power-Ranking/blob/main/Candy_Classification_by_using_Logistic_Regression_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()
%matplotlib inline 
%config InlineBackend.figure_formats=['retina']
%pylab inline 
print('Setup Complete$$')

Populating the interactive namespace from numpy and matplotlib
Setup Complete$$

In [2]:
df = pd.read_csv('/content/candy-data.csv')
df.head()

  competitorname  chocolate  fruity  ...  sugarpercent  pricepercent  winpercent
0      100 Grand          1       0  ...         0.732         0.860   66.971725
1   3 Musketeers          1       0  ...         0.604         0.511   67.602936
2       One dime          0       0  ...         0.011         0.116   32.261086
3    One quarter          0       0  ...         0.011         0.511   46.116505
4      Air Heads          0       1  ...         0.906         0.511   52.341465

[5 rows x 13 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   competitorname    85 non-null     object
 1   chocolate         85 non-null     int64
 2   fruity            85 non-null     int64
 3   caramel           85 non-null     int64
 4   peanutyalmondy    85 non-null     int64
 5   nougat            85 non-null     int64
 6   crispedricewafer  85 non-null     int64
 7   hard              85 non-null     int64
 8   bar               85 non-null     int64
 9   pluribus          85 non-null     int64
 10  sugarpercent      85 non-null     float64
 11  pricepercent      85 non-null     float64
 12  winpercent        85 non-null     float64
dtypes: float64(3), int64(9), object(1)
memory usage: 8.8+ KB

In [4]:
df.dtypes

competitorname       object
chocolate             int64
fruity                int64
caramel               int64
peanutyalmondy        int64
nougat                int64
crispedricewafer      int64
hard                  int64
bar                   int64
pluribus              int64
sugarpercent        float64
pricepercent        float64
winpercent          float64
dtype: object

In [5]:
df.dtypes.value_counts()

int64      9
float64    3
object     1
dtype: int64

In [6]:
df.iloc[:, :-1].min().value_counts()

0                       9
0.011000000000000001    2
100 Grand               1
dtype: int64

In [7]:
df.iloc[:, :-1].max().value_counts()

1             9
Whoppers      1
0.97600001    1
0.98799998    1
dtype: int64

In [8]:
df.competitorname.value_counts()

Whoppers                       1
Dum Dums                       1
ReeseÕs stuffed with pieces    1
Sugar Babies                   1
Jawbusters                     1
                              ..
Kit Kat                        1
Skittles wildberry             1
Nestle Smarties                1
Root Beer Barrels              1
One dime                       1
Name: competitorname, Length: 85, dtype: int64

In [9]:
df.shape

(85, 13)

In [10]:
print(len(df.competitorname))

85

In [11]:
# Check the unique values in the competitorname : 
df.competitorname.unique()

array(['100 Grand', '3 Musketeers', 'One dime', 'One quarter',
       'Air Heads', 'Almond Joy', 'Baby Ruth', 'Boston Baked Beans',
       'Candy Corn', 'Caramel Apple Pops', 'Charleston Chew',
       'Chewey Lemonhead Fruit Mix', 'Chiclets', 'Dots', 'Dum Dums',
       'Fruit Chews', 'Fun Dip', 'Gobstopper', 'Haribo Gold Bears',
       'Haribo Happy Cola', 'Haribo Sour Bears', 'Haribo Twin Snakes',
       'HersheyÕs Kisses', 'HersheyÕs Krackel',
       'HersheyÕs Milk Chocolate', 'HersheyÕs Special Dark', 'Jawbusters',
       'Junior Mints', 'Kit Kat', 'Laffy Taffy', 'Lemonhead',
       'Lifesavers big ring gummies', 'Peanut butter M&MÕs', 'M&MÕs',
       'Mike & Ike', 'Milk Duds', 'Milky Way', 'Milky Way Midnight',
       'Milky Way Simply Caramel', 'Mounds', 'Mr Good Bar', 'Nerds',
       'Nestle Butterfinger', 'Nestle Crunch', 'Nik L Nip', 'Now & Later',
       'Payday', 'Peanut M&Ms', 'Pixie Sticks', 'Pop Rocks', 'Red vines',
       'ReeseÕs Miniatures', 'ReeseÕs Peanut Butter cup',
       'ReeseÕs pieces', 'ReeseÕs stuffed with pieces', 'Ring pop',
       'Rolo', 'Root Beer Barrels', 'Runts', 'Sixlets',
       'Skittles original', 'Skittles wildberry', 'Nestle Smarties',
       'Smarties candy', 'Snickers', 'Snickers Crisper',
       'Sour Patch Kids', 'Sour Patch Tricksters', 'Starburst',
       'Strawberry bon bons', 'Sugar Babies', 'Sugar Daddy',
       'Super Bubble', 'Swedish Fish', 'Tootsie Pop',
       'Tootsie Roll Juniors', 'Tootsie Roll Midgies',
       'Tootsie Roll Snack Bars', 'Trolli Sour Bites', 'Twix',
       'Twizzlers', 'Warheads', 'WelchÕs Fruit Snacks',
       'WertherÕs Original Caramel', 'Whoppers'], dtype=object)

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()

In [14]:
df['competitorname'] = le.fit_transform(df.competitorname)

In [18]:
df['competitorname'].sample(5)

79    79
54    55
36    33
82    82
38    35
Name: competitorname, dtype: int64

In [19]:
df.head()

   competitorname  chocolate  fruity  ...  sugarpercent  pricepercent  winpercent
0               0          1       0  ...         0.732         0.860   66.971725
1               1          1       0  ...         0.604         0.511   67.602936
2              44          0       0  ...         0.011         0.116   32.261086
3              45          0       0  ...         0.011         0.511   46.116505
4               2          0       1  ...         0.906         0.511   52.341465

[5 rows x 13 columns]

In [21]:
df.describe()

       competitorname  chocolate  ...  pricepercent  winpercent
count       85.000000  85.000000  ...     85.000000   85.000000
mean        42.000000   0.435294  ...      0.468882   50.316764
std         24.681302   0.498738  ...      0.285740   14.714357
min          0.000000   0.000000  ...      0.011000   22.445341
25%         21.000000   0.000000  ...      0.255000   39.141056
50%         42.000000   0.000000  ...      0.465000   47.829754
75%         63.000000   1.000000  ...      0.651000   59.863998
max         84.000000   1.000000  ...      0.976000   84.180290

[8 rows x 13 columns]

In [22]:
# Calculate the correlation values : 
features_cols = df.columns[:-1]
corr_values = df[features_cols].corr()
corr_values

                  competitorname  chocolate  ...  sugarpercent  pricepercent
competitorname          1.000000  -0.023211  ...     -0.124986     -0.176830
chocolate              -0.023211   1.000000  ...      0.104169      0.504675
fruity                  0.023146  -0.741721  ...     -0.034393     -0.430969
caramel                 0.059466   0.249875  ...      0.221933      0.254327
peanutyalmondy         -0.020684   0.377824  ...      0.087889      0.309153
nougat                 -0.181401   0.254892  ...      0.123081      0.153196
crispedricewafer        0.036629   0.341210  ...      0.069950      0.328265
hard                    0.118232  -0.344177  ...      0.091810     -0.244365
bar                    -0.210118   0.597421  ...      0.099985      0.518407
pluribus                0.066211  -0.339675  ...      0.045523     -0.220794
sugarpercent           -0.124986   0.104169  ...      1.000000      0.329706
pricepercent           -0.176830   0.504675  ...      0.329706      1.000000

[12 rows x 12 columns]

In [23]:
tril_index = np.tril_indices_from(corr_values)
tril_index

(array([ 0,  1,  1,  2,  2,  2,  3,  3,  3,  3,  4,  4,  4,  4,  4,  5,  5,
         5,  5,  5,  5,  6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,
         7,  7,  8,  8,  8,  8,  8,  8,  8,  8,  8,  9,  9,  9,  9,  9,  9,
         9,  9,  9,  9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11]),
 array([ 0,  0,  1,  0,  1,  2,  0,  1,  2,  3,  0,  1,  2,  3,  4,  0,  1,
         2,  3,  4,  5,  0,  1,  2,  3,  4,  5,  6,  0,  1,  2,  3,  4,  5,
         6,  7,  0,  1,  2,  3,  4,  5,  6,  7,  8,  0,  1,  2,  3,  4,  5,
         6,  7,  8,  9,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,  0,  1,
         2,  3,  4,  5,  6,  7,  8,  9, 10, 11]))

In [24]:
# Make the unused values as NaNs : 
corr_array = np.array(corr_values)
corr_array[np.tril_indices_from(corr_values)] = np.nan
pd.DataFrame(corr_array)

    0         1         2         3   ...        8         9         10        11
0  NaN -0.023211  0.023146  0.059466  ... -0.210118  0.066211 -0.124986 -0.176830
1  NaN       NaN -0.741721  0.249875  ...  0.597421 -0.339675  0.104169  0.504675
2  NaN       NaN       NaN -0.335485  ... -0.515066  0.299725 -0.034393 -0.430969
3  NaN       NaN       NaN       NaN  ...  0.333960 -0.269585  0.221933  0.254327
4  NaN       NaN       NaN       NaN  ...  0.260420 -0.206109  0.087889  0.309153
5  NaN       NaN       NaN       NaN  ...  0.522976 -0.310339  0.123081  0.153196
6  NaN       NaN       NaN       NaN  ...  0.423751 -0.224693  0.069950  0.328265
7  NaN       NaN       NaN       NaN  ... -0.265165  0.014532  0.091810 -0.244365
8  NaN       NaN       NaN       NaN  ...       NaN -0.593409  0.099985  0.518407
9  NaN       NaN       NaN       NaN  ...       NaN       NaN  0.045523 -0.220794
10 NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN  0.329706
11 NaN       NaN       NaN       NaN  ...       NaN       NaN       NaN       NaN

[12 rows x 12 columns]

In [25]:
# Recreate correlation pandas dataframe : 
corr_values = pd.DataFrame(corr_array, columns=corr_values.columns, index=corr_values.index)

In [26]:
# Stack the data and Convert to dataframe: 
corr_values = (corr_values.stack()
                          .to_frame()
                          .reset_index()
                          .rename(columns={'level_0':'Features1',
                                           'level_1':'Features2',
                                           0: 'Correlation'}))

In [27]:
corr_values

         Features1       Features2  Correlation
0   competitorname       chocolate    -0.023211
1   competitorname          fruity     0.023146
2   competitorname         caramel     0.059466
3   competitorname  peanutyalmondy    -0.020684
4   competitorname          nougat    -0.181401
..             ...             ...          ...
61             bar    sugarpercent     0.099985
62             bar    pricepercent     0.518407
63        pluribus    sugarpercent     0.045523
64        pluribus    pricepercent    -0.220794
65    sugarpercent    pricepercent     0.329706

[66 rows x 3 columns]