<a href="https://colab.research.google.com/github/mohmaed7777/The-Ultimate-Halloween-Candy-Power-Ranking/blob/main/K%20means%20for%20Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()
%matplotlib inline 
%config InlineBackend.figure_formats=['retina']
%pylab inline 
print('Setup Complete$$')

Populating the interactive namespace from numpy and matplotlib
Setup Complete$$

In [2]:
df = pd.read_csv('/content/candy-data.csv')
df.head()

  competitorname  chocolate  fruity  ...  sugarpercent  pricepercent  winpercent
0      100 Grand          1       0  ...         0.732         0.860   66.971725
1   3 Musketeers          1       0  ...         0.604         0.511   67.602936
2       One dime          0       0  ...         0.011         0.116   32.261086
3    One quarter          0       0  ...         0.011         0.511   46.116505
4      Air Heads          0       1  ...         0.906         0.511   52.341465

[5 rows x 13 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   competitorname    85 non-null     object
 1   chocolate         85 non-null     int64
 2   fruity            85 non-null     int64
 3   caramel           85 non-null     int64
 4   peanutyalmondy    85 non-null     int64
 5   nougat            85 non-null     int64
 6   crispedricewafer  85 non-null     int64
 7   hard              85 non-null     int64
 8   bar               85 non-null     int64
 9   pluribus          85 non-null     int64
 10  sugarpercent      85 non-null     float64
 11  pricepercent      85 non-null     float64
 12  winpercent        85 non-null     float64
dtypes: float64(3), int64(9), object(1)
memory usage: 8.8+ KB

In [4]:
df.dtypes

competitorname       object
chocolate             int64
fruity                int64
caramel               int64
peanutyalmondy        int64
nougat                int64
crispedricewafer      int64
hard                  int64
bar                   int64
pluribus              int64
sugarpercent        float64
pricepercent        float64
winpercent          float64
dtype: object

In [5]:
df.dtypes.value_counts()

int64      9
float64    3
object     1
dtype: int64

In [8]:
print(len(df.competitorname.unique()))

85

In [9]:
df.shape

(85, 13)

In [10]:
df.set_index(df['competitorname'], inplace=True)

In [12]:
df.drop(['competitorname'], axis=1, inplace=True)

In [13]:
df.head()

                chocolate  fruity  ...  pricepercent  winpercent
competitorname                     ...
100 Grand               1       0  ...         0.860   66.971725
3 Musketeers            1       0  ...         0.511   67.602936
One dime                0       0  ...         0.116   32.261086
One quarter             0       0  ...         0.511   46.116505
Air Heads               0       1  ...         0.511   52.341465

[5 rows x 12 columns]

In [14]:
df.shape

(85, 12)

In [18]:
# Check the missing values : 
df.isnull().sum()

chocolate           0
fruity              0
caramel             0
peanutyalmondy      0
nougat              0
crispedricewafer    0
hard                0
bar                 0
pluribus            0
sugarpercent        0
pricepercent        0
winpercent          0
dtype: int64

In [15]:
df.describe()

       chocolate     fruity    caramel  ...  sugarpercent  pricepercent  winpercent
count  85.000000  85.000000  85.000000  ...     85.000000     85.000000   85.000000
mean    0.435294   0.447059   0.164706  ...      0.478647      0.468882   50.316764
std     0.498738   0.500140   0.373116  ...      0.282778      0.285740   14.714357
min     0.000000   0.000000   0.000000  ...      0.011000      0.011000   22.445341
25%     0.000000   0.000000   0.000000  ...      0.220000      0.255000   39.141056
50%     0.000000   0.000000   0.000000  ...      0.465000      0.465000   47.829754
75%     1.000000   1.000000   0.000000  ...      0.732000      0.651000   59.863998
max     1.000000   1.000000   1.000000  ...      0.988000      0.976000   84.180290

[8 rows x 12 columns]

In [16]:
X = df
y = df['sugarpercent']

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 100 Grand to Whoppers
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   chocolate         85 non-null     int64
 1   fruity            85 non-null     int64
 2   caramel           85 non-null     int64
 3   peanutyalmondy    85 non-null     int64
 4   nougat            85 non-null     int64
 5   crispedricewafer  85 non-null     int64
 6   hard              85 non-null     int64
 7   bar               85 non-null     int64
 8   pluribus          85 non-null     int64
 9   sugarpercent      85 non-null     float64
 10  pricepercent      85 non-null     float64
 11  winpercent        85 non-null     float64
dtypes: float64(3), int64(9)
memory usage: 11.1+ KB

**Feature Scaling:-**

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
cols = X.columns

In [22]:
min_max = MinMaxScaler()

In [23]:
X = min_max.fit_transform(X)

In [24]:
X = pd.DataFrame(X, columns=[cols])

In [25]:
X.head()

  chocolate fruity caramel  ... sugarpercent pricepercent winpercent
0       1.0    0.0     1.0  ...     0.737973     0.879793   0.721251
1       1.0    0.0     0.0  ...     0.606960     0.518135   0.731475
2       0.0    0.0     0.0  ...     0.000000     0.108808   0.158998
3       0.0    0.0     0.0  ...     0.000000     0.518135   0.383432
4       0.0    1.0     0.0  ...     0.916070     0.518135   0.484266

[5 rows x 12 columns]

**K means Model With Two Clusters**

In [26]:
from sklearn.cluster import KMeans

In [43]:
k_model = KMeans(n_clusters=2, random_state=0)

In [44]:
k_model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=0, tol=0.0001, verbose=0)

In [45]:
k_model.cluster_centers_

array([[ 2.08333333e-02,  7.91666667e-01,  8.33333333e-02,
         2.08333333e-02, -5.55111512e-17, -5.55111512e-17,
         3.12500000e-01,  3.05311332e-16,  6.66666667e-01,
         4.55305359e-01,  3.34520718e-01,  3.19962611e-01],
       [ 9.72972973e-01,  0.00000000e+00,  2.70270270e-01,
         3.51351351e-01,  1.89189189e-01,  1.89189189e-01,
        -2.77555756e-17,  5.67567568e-01,  3.24324324e-01,
         5.08949074e-01,  6.56070576e-01,  6.22072148e-01]])

In [46]:
k_model.inertia_

94.81037236808473